
.nsft-new-tab-btn,
.nsft-adv-editor-btn {
    margin-left: 10px;
    cursor: pointer;
    font-size: 11px;
    color: #1a0dab;
    text-decoration: underline;
}

.nsft-new-tab-btn:hover,
.nsft-adv-editor-btn:hover {
    color: #f58220;
}
