
.nsft-logfmt-wrapper {
    z-index: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    width: 100%;
    display: block;
    max-width: 900px;
    margin: 10px 0 !important;
}

.nsft-logfmt-wrapper pre code.hljs {
    display: block;
    margin: 0;
    padding: 16px 20px 18px !important;
    font-size: 12.5px;
    line-height: 1.75;
    white-space: pre;
    overflow: auto;
    max-height: 400px;
}

.nsft-logfmt-html-content {
    background: #ffffff;
    color: #000;
    max-height: 400px;
    overflow: auto;
    position: relative;
}
